@media screen and (max-width:750px){
    header .container {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .btn {
        margin-top: 5px;
        width: 120px;
        height: 40px;

    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}